<head>  
  <!-- manifest -->
  <link rel="manifest" href="manifest.json" />
  
  <!-- meta -->
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

  <!-- stylesheet -->
  <link rel="stylesheet" href="https://1d10t1c-stud10s.github.io/assets/style.css">

  <!-- Site Favicon(s) -->
  <link rel="apple-touch-icon" href="https://1d10t1c-stud10s.github.io/assets/apple-touch-icon.png">
  <link rel="icon" href="https://1d10t1c-stud10s.github.io/assets/apple-touch-icon.png" sizes="192x192">
  
</head>
