<div class="navwrapper">
<nav class="nav">
    <a href="{{ site.baseurl }}/">
      <strong><h1 class="nav-title">{{ site.title }}</h1></strong>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/"><bold>Home</bold></a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl }}/"><bold>Projects</bold></a></li>
      <li><a href="{{ '/blog' | prepend: site.baseurl }}/"><bold>Blog</bold></a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}"><bold>About</bold></a></li>
      <li><a href="{{ '/contact' | prepend: site.baseurl }}"><bold>Contact</bold></a></li>
    </ul>
</nav>
</div>
