@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

/* @media */
@media(max-width: 480px) {
  .banner {
    height: 55vw;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

@media(max-width: 768px) and (min-width: 481px) {
  .banner {
    height: 45vw;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

@media(min-width: 1025px) {
  .banner {
    height: 40vw;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

/* testing */

* {
  outline: 0px solid red;
}


/* defaults */
html { 
  overflow-x: auto;
}

body {
  position: static;
  background-color: #000000;
  width: 100%;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  /*overflow-y: auto;*/
  margin: 0;
  padding: 0;
}

footer {
  background-color: #fefefe;
}

p {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #dedede;
  padding: 0px;
}

a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #2fc271;
  text-decoration: none;
}

li {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #dedede;
}

.rightlist {
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: centre;
}

span {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #dedede;
  padding: 0px;
}

hr {
  border: none;
  border-bottom: 5px dotted #f7f7f7; /* very light gray color */
  max-width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

h4 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.navwrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav {
  z-index: inherit;
  position: static;
  max-width: 100%;
  height: 90px;
  margin: 0 auto;
  top: 0; /* or top: 0vh */
  left: 0;
  background-color: #fefefe;
  color: #1a1a1a;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav h1 {
  font-family: "Rubik Mono One", monospace;
  color: #1a1a1a !important;
}

.nav ul {
  bottom: 0;
  right: 0;
  list-style: none;
  margin: 0;
  margin-top: 0;
  padding: 0;
}

.nav li {
  font-size: 22px;
  position: relative;
  top: 20px;
  display: inline-block;
  margin-right: 20px;
  color: #24c932 !important;
  transition-duration: 0.4s;
}

.nav li:hover {
  color: #24c932 !important;
}

/* for styled div text */

div.lightblue {
  background-color: #3f77d1;
  color: #dedede !important;
  position: static;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

div.lightblue * {
  padding: 7px;
}

div.darkblue {
  background-color: #16257a;
  color: #dedede !important;
  position: static;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

div.darkblue * {
  padding: 7px;
}

div.darkneutral {
  background-color: #000000;
  color: #dedede !important;
  position: static;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

div.darkneutral * {
  padding: 2px;
}

/* common classes */

.pixellight {
  font-family: "Pixelify Sans" !important;
  color: #000000;
}

.pixeldark {
  font-family: "Pixelify Sans" !important;
  color: #ffffff;
}

.centretxt {
  text-align: centre;
  align: centre;
}

.centreimg {
  display: block;
  margin: 0 auto;
  max-height: 10%;
  width: auto;
}

.h0 {
  font-weight: 900; /* Heavy font */
  text-align: center; /* Center the text */
  font-size: 3em; /* Larger font size */
  margin: 20px 0; /* Optional: Add some margin for spacing */
}
