---
layout: default
---

<div class="darkblue" style="text-align:centre">
  <br>
  <bold><h1 class="pixeldark">"We1come! It's pretty cozy in here."</h1></bold>
  <hr>
  <h3>A studio for fun, made for fun.</h3>
  <h3>Inspired by imagination, powered by creativity.</h3>
  <br>
  <br>
</div>
<img src="https://1d10t1c-stud10s.github.io/assets/img/banner2.jpg" class="banner">
<div class="darkneutral">
  <br>
  <p>Check out our <a href="https://1d10t1c-stud10s.github.io/projects">projects here!</a></p>
   <br>
  <h3>Opting for free and open source, enjoy our small world for free!</h3>
  <br>
  <h4 class="pixeldark">Want to see the source code? Check out our Github!</h4>
  <h4 class="pixeldark">Check out our projects page for a list of our creations.</h4>
  <br>
  <br>
  <br>
</div>
<div class="darkblue">
  <br>
  <h2>Want to help? Or need to talk?</h2>
  <hr>
  <p>Don't hesitate to reach out to us! Visit our contact page for more.</p>
  <p>You can also try our form to reach us!</p>
  <br>
  <h4><a href="1d10t1c-stud10.github.io/contact">Contact us!</a></h4>
  <br>
  <br>
</div>
