---
layout: default
---

<div class="darkblue" style="text-align:centre">
  <br>
  <bold><h1 class="centretext">Welcome!</h1></bold>
  <h3>A studio for fun, made for fun.</h3>
  <h3>Inspired by imagination, powered by creativity.</h3>
  <br>
  <br>
</div>
<img src="https://1d10t1c-stud10s.github.io/assets/img/banner2.jpg" class="centreimg" width="auto" height="80vw">
<div class="darkneutral">
  <br>
  <p>Check out our <a href="https://1d10t1c-stud10s.github.io/projects">projects here!</a></p>
   <br>
  <h3>Opting for free and open source, enjoy our small world for free!</h3>
  <br>
  <h4>Want to see the source code? Check out our Github!</h4>
  <br>
  <br>
  <br>
</div>
<div class="darkblue">
  <br>
  <h1>Want to help? Or need to talk?</h1>
  <br>
  <h4><a href="1d10t1c-stud10.github.io/contact">Contact us!</a></h4>
  <br>
  <br>
</div>
