---
layout: default
---

<div class="post" style="color: #ffffff;">

  <h1 class="pixeldark" style="text-align: centre !important; padding: 10px;">{{ page.title }}</h1>
  <br>
  <div class="post-info" style="text-align: centre !important; margin: 0 auto; font-family: 'Pixelify Sans';">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.title }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  <hr>
  <br>
  <br>
  {{ content }}
  <br>
  <br>
</div>
